<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
            <b><a href="http://127.0.0.1:8000/index/">KKC.GG</a></b>
            <a href="http://127.0.0.1:8000/record/">전적</a>
            <a href="http://127.0.0.1:8000/highlight/">내 인생 경기</a>
            <a href="http://127.0.0.1:8000/rank/">랭크</a>
    </header>
    <body>
        <br>
        <br>
        <br>
        <h1 class="logo">
            <img src="/static/img/KKC.GG_logo.png">
        </h1>
        <div class="search">
            <input type="text" placeholder="  소환사 명">
        </div>
        <br>
        <br>
        <br>
        <div class="charactor">
            <img src="/static/img/charactor.png">
        </div>
        <br>
        <br>
        <br>
        <hr>
    </body>
    <footer>
        <p>
            © 2012-2022 KCC.GG. KCC.GG isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone<br>
            officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered<br>
            trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.<br>
        </p>
        <br>
    </footer>
</body>
</html>